#initial-navbar {
    opacity: 0.8;
    cursor: not-allowed;
}

#initial-container {
    display: none;
}

#not-found {
    display: block;
    text-align: center;
    margin-top: 5vh;
    font-size: 2vw;
}

#repo-sec {
    display: none;
}

#followers-sec {
    display: none;
}

#following-sec {
    display: none;
}